/* line 3, ../scssNew/serp.scss */
#fAll,
#fAdvisors,
#fRecruiters {
  display: none;
}

/* line 6, ../scssNew/serp.scss */
.listofresults input[type="radio"] + label {
  margin-left: 0;
  margin-right: 0;
}

/* line 10, ../scssNew/serp.scss */
.listofresults input[type="radio"]:checked + label {
  background-color: #B04110;
}

/* line 13, ../scssNew/serp.scss */
.details {
  border-bottom: 1px solid #CCCCCC;
  height: 60px;
}

/* line 17, ../scssNew/serp.scss */
.links {
  font-size: 0.9375em;
  padding-top: 20px;
}

/* line 21, ../scssNew/serp.scss */
.title a {
  color: #E26F1F;
  text-decoration: underline;
}

/* line 25, ../scssNew/serp.scss */
.title a:hover {
  color: #B04110;
  text-decoration: none;
}

/* line 29, ../scssNew/serp.scss */
.links span.text a {
  border-bottom: 1px dashed #666666;
  color: #999999;
  text-decoration: none;
}

/* line 34, ../scssNew/serp.scss */
.links span.text a:hover {
  border-bottom: none;
  color: #000000;
  text-decoration: none;
}

/* line 40, ../scssNew/serp.scss */
ul.pagination li.current a,
ul.pagination li.current button {
  background: none repeat scroll 0 0 #D66318;
}

/* line 43, ../scssNew/serp.scss */
.googleFilter {
  /*background-color: #EFEFEF;*/
  background-color: #CCC;
}

/* line 47, ../scssNew/serp.scss */
.googleFilter p {
  margin-bottom: 0;
}

/* line 50, ../scssNew/serp.scss */
.googleFilter h2 {
  border-bottom: 1px solid #000000;
  font-size: 1em;
  padding-top: 20px;
  color: #DC5114;
}

/* line 56, ../scssNew/serp.scss */
.googleFilter label {
  color: #004171;
}

/* line 59, ../scssNew/serp.scss */
.googleFilter ul li {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px dashed #C9C2B2;
  font-size: 0.9375em;
  padding: 8px 0;
}

/* line 65, ../scssNew/serp.scss */
.googleFilter ul li a {
  color: #666666;
  text-decoration: none;
}

/* line 69, ../scssNew/serp.scss */
.menu-filter-button {
  background: none repeat scroll 0 0 #A6A6A2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #222222;
  cursor: pointer;
  padding: 0.35em;
  display: block;
}

/* line 77, ../scssNew/serp.scss */
.menu-button {
  border-bottom: none;
}

/* line 80, ../scssNew/serp.scss */
.menu-button {
  text-align: center;
  margin: 0 auto;
}
