.return-to-wrap{
	
	//left: 50%;
	//margin-left: -200px;
	margin: 0 auto; 
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	text-align: center;
	//top: 0;
	width: 33%;	
	
	
}

.return-to {
	border:none !important;
	border-radius: 0 0 5px 5px;

  @include alert(
    // Adjust the background of the alert
    $bg: $white,
    // Give a border to the alert box
    $radius: true
  );
  .close {
    @include alert-close();
  }
  &.alert-close {
    opacity: 0;
  }
}

a.return-to-link {
	color: $grey;
	display:block;
	&:hover{
		color:$orange;
		text-decoration: underline;
	}
}


