// Client Resources 

.client-resources-dm {
	//background: url('../images/cr.png') no-repeat 0 -71px;
	
	//background: url("../images/cr-2.jpg") no-repeat 231px -55px;

	.cr-intro {
		background-color: #7ec4b9;
		height: 490px;
		width:100%;
//opacity: 0.5;
		h1 {
			margin-top: 50px;
			margin-bottom: 25px;
		}

		.cr-container {
			max-width:220px;
			margin: 0 auto;
			text-align: center;

			p {
				line-height: 27px;
			}

			.cr-details {
				margin-top: 30px;
				margin-bottom: 0px;

				h6 {
					margin-top: 10px;
					margin-bottom: 0px;
				}
			}
		}

		.divider {
			max-width: 70px;
			height: 1px;
			background-color: #0d263c;
			margin: 30px auto 35px auto;
			display: block;
		}
		.divider-v {
			max-height: 70px;
			width: 1px;
			background-color: #0d263c;
			margin: 0 70px;
			display: none;
		}
	}

	.cr-feature {
		background-color: #ffffff;
//opacity: 0.5;	
		.cr-feature__wpr {
			width: 88%;
			margin: auto;
		}	

		h3 {
			margin-top: 70px;
			margin-bottom: 15px;
		}

		h6 {
			margin-top: 30px;
			margin-bottom: 15px;
		}

		p {
			max-width: 100%;
		}

		.mortgage-section-wpr__more {
	        margin: auto;
	    }
	    .mortgage-section-wpr__more--excerpt {
	        margin:0;
	    }
	    .mortgage-section-wpr__more--image {
	        margin-top: 50px;
	        margin-bottom: 15px;
	    }
	    .mortgage-section-wpr__more--tile {
	        width: 100%;
	        margin-top: 0;
	        margin-bottom:75px;

	        a {
	        	color:#0d263c;
	        }
	        a:hover {
	        	color:#0d263c;
	        }
	    }
	    .mortgage-section-wpr__more--tile:last-child {
	        margin-bottom:90px;
	    }

		
	}

	.cr-resources {
		background-color: #fbf7eb;
//opacity: 0.5;
		h3 {
			margin-top: 70px;
			margin-bottom: 15px;
		}

		p {
			line-height: 27px;
			width:60%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		.cr-container-row {
			width: 100%;
   			margin: auto;
				.cr-container {
					max-width:140px;
					margin: 0 auto 20px auto;
					text-align: center;
					float: none;

					img {
						margin-top: 35px;
						margin-bottom: 20px;
					}
				}

				.cr-container:last-child {
					margin-bottom: 80px;
				}
		}
	}

	.cr-faq {
//opacity: 0.5;
		background-color: #ffffff;

		h3 {
			margin-top: 70px;
			margin-bottom: 15px;
		}
		p {
			line-height: 27px;
			margin-bottom:35px;
		}
		.cr-container {
			max-width: 420px;
			margin: auto auto 70px auto;

			.c-button {
				max-width: 100%;
				margin: auto;
				text-align: center;
				display: block;
			}
		}
	}

	@media only screen and (min-width: 420px) {
		.cr-resources {
			.cr-container-row {
				width: 75%;
   				margin: auto;

				.cr-container {
					float: left;
  					text-align: center;
  					width: 50%;
  					max-width: 100%;
  					margin: 0 auto 40px auto;
				}
				.cr-container.test {
  					clear: left;
  					margin-bottom: 80px;
				}
			}
			
		}
	}
	@media only screen and (min-width: 520px) {
		.cr-feature {

			.cr-feature__wpr {
				
			}	

			h3 {
				
			}

			h6 {
			
			}

			p {
				max-width: 100%;
			}

			.mortgage-section-wpr__more {
		        margin: auto;
		    }
		    .mortgage-section-wpr__more--excerpt {
		        margin:0;
		    }
		    .mortgage-section-wpr__more--image {
		        margin-top: 50px;
		        margin-bottom: 15px;
		    }
		    .mortgage-section-wpr__more--tile {
		        width: 100%;
		        max-width: 460px;
		        margin-left: auto;
		        margin-right: auto;
		    }
		   

			
		}
	}
	@media only screen and (min-width: 768px) {
		.cr-intro {
			background-color: #7ec4b9;
			height: 500px;
			width:100%;

			h1 {
				margin-top: 100px;
				margin-bottom: 50px;
			}

			.cr-container {
				max-width:100%;

				p {
					margin-bottom: 70px;
				}
				p:last-child {
					margin-bottom: 0;
				}
				.cr-container-table {
					display: table;
					margin: auto auto 110px auto;

					.cr-details {
						margin-top: 30px;
						margin-bottom: 0px;
						display: table-cell;
						padding:0 70px;

						h6 {
							margin-top: 0px;
							margin-bottom: 0px;
						}
					}
					.divider {
						display: none;
					}
					.divider-v {
						display: table-cell;
					}
				}
			}

			
		}
		.cr-feature {
			.cr-feature__wpr {
				max-width: 1255px;
				margin: 0 auto 5% auto;
			}
			.mortgage-section-wpr__more--container {
				display: table;
				margin: auto auto 110px auto;
				width: 100%;
			}
			.mortgage-section-wpr__more--tile {
				max-width: 360px;
				width: 32%;
				display: table-cell;
				padding: 0 2%;
			}
			.mortgage-section-wpr__more--image {
				max-width: 360px;
			}
			h3 {
				margin-top: 100px;
				margin-bottom: 15px;
			}

			h6 {
				margin-top: 43px;
				margin-bottom: 15px;
			}

			p {
				max-width: 920px;
				margin: auto;
			}
			.mortgage-section-wpr__more--excerpt p {
				max-width: 325px;
				margin-left: 0px;
				margin-bottom: 25px;
			}
		}
		.cr-resources {
			.cr-wrapper {
				max-width: 1160px;
				height: 410px;
				margin: 0 auto;
			}

			h3 {
				margin-top: 100px;
				margin-bottom: 25px;
			}

			.cr-container-row {
				width: 100%;

				.cr-container {
					float: left;
  					text-align: center;
  					width: 25%;
  					max-width: 100%;
  					margin-bottom:110px;
				}
				.cr-container.test {
  					clear: none;
				}
				.cr-container img {
				    margin-bottom: 13px;
				    width: 50%;
				    max-width: 140px;
				}
			}
			
		}

		.cr-faq {
			.cr-container {
				max-width: 550px;
				margin: auto auto 110px auto;

				h3 {
					margin-top: 100px;
				}

				.c-button {
					max-width: 200px;
					margin: auto;
					display: block;
				}
			}
		}
	}

	@media only screen and (min-width: 1440px) {
		.cr-resources {
			.cr-container-row {
				max-width: 100%;

				.cr-container {
					float: left;
  					text-align: center;
  					width: 25%;
  					max-width: 100%;
				}
				.cr-container.test {
  					clear: none;
				}
				.cr-container img {
				    margin-bottom: 13px;
				    width: 50%;
				    max-width: 140px;
				}
			}
			
		}
	}
	
}