@charset "utf-8";
/* CSS Document */

.top-bar .toggle-topbar,
.top-bar .search-topbar {
	position:relative;
	float:right;	
}

.top-bar .search-topbar.show-for-small-only  {
	margin-top: -44px;
	margin-right:10px;
}

.top-bar .toggle-topbar.menu-icon   {
	margin-top: -44px;
	margin-right:10px;

}


.section-search {
	max-height: 0;
	opacity:0;
	transition: all 0.9s ease-in-out 0s;
	overflow:hidden;	
}
.show-section-search {
	max-height: 37px;
	opacity: 1;
	/*transition: all 0.9s ease-in-out 0s;*/
}