#resizescreen {
	background-color: white;
}

.responsive ul {
	margin-left: 0;
}

.responsive > .pristine {
	display: none;
	&:first-child {
		display: block;
	}
}

.rotatingNavNext {
	position: absolute;
	background: url("/en/images/corp/svg/next-solid-circle-vid.svg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	display: inline-block;
	height: 0;
	vertical-align: middle;
	right: 1em;
	z-index: 3;
	color: #CCC;
}

.videoNavNext {
	position: absolute;
	background: url("/en/images/corp/svg/next-solid-circle.svg") no-repeat scroll top left / cover rgba(0, 0, 0, 0);
	display: inline-block;
	height: 0;
	vertical-align: middle;
	right: 0em;
	z-index: 3;
}

.videoNavPrev {
	position: absolute;
	background: url("/en/images/corp/svg/previous-solid-circle.svg") no-repeat scroll top right / cover rgba(0, 0, 0, 0);
	display: inline-block;
	height: 0;
	vertical-align: middle;
	left: 0em;
	z-index: 3;
}

.rotatingNavNext:hover {

	background: url("/en/images/corp/svg/next-solid-circle-hover.svg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	color: black;
}

.rotatingNavPrev {
	position: absolute;
	background: url("/en/images/corp/svg/previous-solid-circle-vid.svg") no-repeat scroll top right / cover rgba(0, 0, 0, 0);
	display: inline-block;
	height: 0;
	vertical-align: middle;
	left: 1em;
	z-index: 3;
	color: #CCC;
}

.rotatingNavPrev:hover {
	background: url("/en/images/corp/svg/previous-solid-circle-hover.svg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	color: black;
}

.rotatingNavPrev,
.rotatingNavNext {
	top: 42%;
}

.logo-adjustment {
	width: 100%;
	height: auto;
}

.slick_video_text ul {
	margin-left: 1.4em;
}

p.transcript {
	margin-bottom: 0;
}

a.viewallvideo {
	color: #dc5114;
}

a.viewallvideo:hover {
	color: #b04110;
	text-decoration: underline;
}

.slick-slide {
	position: relative;
}

/*.slick-slide img{display:none;}*/