@charset "utf-8";
/* SCSS Document */

//This uses the small/medium/large classes of foundation

.localnavigation ul,
.localnavigation ul,
.localnavigation ul {
		list-style-type: none;

}

.localnavigation ul li {
	margin: 0;
    padding: 0;
	background: none repeat scroll 0 0 transparent;
    /*border-bottom: 1px dashed #C9C2B2;*/
    font-size: 0.9375em;

}

.localnavigation ul li.parent a,
nav.smallresize ul li.parent a {
	background: url("http://www.investorsgroup.com/en/images/corp/ui/down.png") no-repeat scroll right center #FFFFFF;
	padding-right:20px; 
	background-position-x: 98%;
}
.localnavigation ul li.active a,
nav.smallresize ul li.active a {
	background: url("http://www.investorsgroup.com/en/images/corp/ui/up.png") no-repeat scroll right center #FFFFFF;
	padding-right:20px;
	background-position-x: 98%;
}
nav.smallresize ul li.parent a,
nav.smallresize ul li.active a {
	//background-color:#A6A6A2;

}
.localnavigation ul li.parent.active ul li a {
    background: none repeat scroll 0 0 transparent;
}

nav.smallresize {
	background-color:#FFFFFF;
}



.menu-button {
	//background: none repeat scroll 0 0 #A6A6A2;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: $grey;
    cursor: pointer;
	padding: 1em;
	display:block;
}
.menudropdown {
	margin: 0 auto;
    max-height: 0;
    overflow: hidden;
    transition: none 0s ease 0s;
    width: 100%;
}
nav.largeresize {
	border-right: 1px solid #CCCCCC;
    padding-bottom: 60px;
	min-height: 400px;
}
nav.largeresize ul.menudropdown {
	max-height: 2000px;
}
nav.largeresize ul,
nav.largeresize ul ul {
	margin-top:0;
}
nav.largeresize ul li {
	margin:0;
	padding:0;
	background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    font-size: 0.9375em;	
	
	> ul li:last-child {
    	border: none;
  	}
	
}
nav.largeresize ul li a {
	border-bottom: medium none;
    color: #000000;
    display: block;
    padding: 9px 20px 9px 0;
    width: 200px;
}
.submenudropdown {
	max-height: 0;
	overflow: hidden;
    transition: none 0s ease 0s;
    width: 100%;
}

nav.smallresize .menudropdown li a {
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #222222;
    display: block;
    overflow: hidden;
    padding: 0.96em;
    position: relative;
    z-index: 2;
}
.menudropdown li ul {
	width:100%;	
}
.menudropdown li ul li a {
	background: none repeat scroll 0 0 #FFFFFF;
    display: block;
}
nav.smallresize .menudropdownhidden {
	opacity:0;	
}
nav.smallresize .showmenudropdown {
	max-height: 2000px;
	opacity: 1;
    transition: all 0.5s ease-in-out 0s;
}

.showsubmenu {
	max-height: 2000px;
	opacity: 1;
    transition: all 0.5s ease-in-out 0s;
}

.main-nav-dropdown {
	margin-bottom:0;
	background: url("http://www.investorsgroup.com/en/images/corp/ui/down.png") no-repeat scroll right center #FFFFFF;
	//border: 1px solid #ccc;
	margin-top: -10px;
	margin-bottom: 10px;
	background-position-x: 98%;
	background-color: $white;
	margin-left: 0.9375rem;
	margin-right: 0.9375rem;
	text-align: left;

}

.topLevel, p.topLevel{
	text-transform: uppercase;
	color:$blue !important;
	margin-left: 14px;
	margin-bottom: 0px;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid #CCCCCC;
	a{
		color: $blue;
		&:hover{
			text-decoration: underline;
		}
	}
}