@charset "utf-8";
/* SCSS Document */

nav#facets {
	background-color:#EFEFEF;	
}

nav#facets ul {
		list-style-type: none;
}
//Show facet means we are on large screen so show everything, esentially do nothing
// Offscreenfacet means hide menu
nav.offscreenfacet {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.98);
    bottom: 0;
    display: block;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1) 0s;
    width: 100%;
    z-index: 10000;	
}

nav.menuclosed {
	transform: translateX(100%);
}

nav.menuopen {
	transform: translateX(0px);
}
.menu-close {
	background: none repeat scroll 0 0 #070606;
    color: #F3E8E8;
    display: inline-block;
    padding: 0.625rem;
    text-align: center;
    width: 100%;	
}
nav.showfacet {
	transform: translateX(0px);
}