@charset "utf-8";
/* CSS Document */
/* *************************************** SHARE THIS ********************************************** */
.sharethis {
	display: inline-block;
	width:100%;	
}
.sharethis ul {
	margin:0;	
}
.sharethis ul li {
	background-image: none;
    float: left;
    list-style-type: none;
	margin-left: 5px;
    padding: 5px 0 0 5px;
    line-height: 1em;
    font-size: 100% !important;
}
.sharethis ul li.sharethistext {
    margin-left: 0;
    padding-left: 0;
    line-height: 2em;
}
.sharethis ul li a {
	border-bottom: medium none;
    color: $medium-grey;
    height: 16px;
    line-height: 0;
    padding: 0 0 0 16px;
    text-decoration: none;
}
.twitter, .facebook, .linkedin, .stumbleupon, .email {
    background-position: 0 0;
    display: block;
}
  
.sharethis {
    img{
        width:30px;
        height: 30px;
    }
}
