@charset "utf-8";
/* CSS Document */

.search-button {
	width:25px;
	height:25px;
	margin-top:5px;	
}
.search-sprite {
	fill:$white;	
}

.logo-sprite-e {
	width:193px;
	height:93px;	
}

