	#fAll,
	#fAdvisors,
	#fRecruiters {
		display:none;	
	}
	.listofresults input[type="radio"] + label {
    	margin-left: 0;
    	margin-right: 0;;
	}
	.listofresults input[type="radio"]:checked + label {
    	background-color: #B04110;
	}
	.details {
    	border-bottom: 1px solid #CCCCCC;
    	height: 60px;
	}
	.links {
    	font-size: 0.9375em;
    	padding-top: 20px;
	}
	.title a {
    	color: #E26F1F;
		text-decoration:underline;
	}
	.title a:hover {
    	color: #B04110;
		text-decoration:none;
	}
	.links span.text a {
    	border-bottom: 1px dashed #666666;
    	color: #999999;
    	text-decoration: none;
	}
	.links span.text a:hover {
    	border-bottom: none;
    	color: #000000;
    	text-decoration: none;
	}
	ul.pagination li.current a,
	ul.pagination li.current button {
    	background: none repeat scroll 0 0 #D66318;
	}
	.googleFilter {
    	/*background-color: #EFEFEF;*/
		background-color: #CCC;
	}
	.googleFilter p {
		margin-bottom:0;	
	}
	.googleFilter h2 {
		border-bottom: 1px solid #000000;
		font-size: 1em;
		padding-top: 20px;
		color:#DC5114;
	}
	.googleFilter label {
		color: #004171;
	}
	.googleFilter ul li {
		background: none repeat scroll 0 0 transparent;
		border-bottom: 1px dashed #C9C2B2;
		font-size: 0.9375em;
		padding: 8px 0;
	}
	.googleFilter ul li a {
		color: #666666;
		text-decoration: none;
	}
	.menu-filter-button {
		background: none repeat scroll 0 0 #A6A6A2;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		color: #222222;
		cursor: pointer;
		padding: 0.35em;
		display:block;
	}
	.menu-button {
		border-bottom:none;	
	}
	.menu-button {
		text-align:center;
		margin: 0 auto;	
	}
	.serp-row {
		padding-top:10px;
	}