@charset "UTF-8";

@mixin add-placeholder-line {
  &:after {
    display: inline-block;
    content: '';
    width: 85%;
    background-color: #ddd;
    height: 0.2em;
    margin-top: 0.4em;
  }
}

.advisor-card.placeholder {
	button {
		background-color: #ddd;	
	}
	.advisor-details {
		margin-left:0;
		background-color: #ddd;	
		
		.websiteLink a {
    		background-color: #ddd;
    		padding: 0;
		}	
	}
}

.advisor-card {
  $border: 1px solid #ccc;
  display: block;
  padding: 0;
  border-bottom: $border;

  margin: 1em 0 0 0;

  transition: opacity 250ms ease;

  &.hide {
    opacity: 0;
  }

  &.placeholder {
    opacity: 0.25;
    .name-address .name,
    .name-address .title,
    .name-address .address *,
    .contact .phone {
      cursor: default;
      @include add-placeholder-line;
    }
    a {
      cursor: default;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  $padding: 1em;

  .advisor, .team {
    padding: $padding;
  }

  .advisor {
    position: relative;
    &-photo {
      margin-right: 2em;
      /*max-width: 6em;*/
      display: block;
      float: left;
	  height:144px;
	  width:144px;
	  border-radius:50%;
	  overflow:hidden;
      img {
        max-width: 100%;
        width: 144px;
        /*height: 144px;*/
        /*display: block;*/
        /*background-repeat: no-repeat;*/
       /* background-position: center center;*/
       /* background-color: transparent;*/
       /* background-size: contain;*/
        &.m {
          background-image: url(/external/app/serp/img/silhouette-m.png);
        }
        &.f {
          background-image: url(/external/app/serp/img/silhouette-f.png);
        }
      }

      @media only screen and (max-width: 480px) {
        float: none;
        margin: 0 auto 1em auto;
      }
    }
	.name {
          margin-bottom: 0;
		  font-family: "whitney_lightregular";
		  font-size:1.75rem;
	      color:#0c273c;
        }
	h3 a {color:#0c273c;}
	.title {
	  font-family: "whitney_scmedium";
	  font-size:1.375rem;
	  color:#0c273c;
	  margin-top:1.5em;
	}
	.address {
	  color:#0c273c;
	  font-style: normal;
	  font-family: "whitney_bookregular";
	  font-size:1.125rem;
	  margin-top: 0;

	  .street, .location {
		display: block;
	  }

	  .street {
		margin-right: 1em;
	  }
	  .location {
		white-space: nowrap;
	  }
	}
    &-details {
      margin-left: 8em;
      display: block;
      clear: right;

      @media only screen and (max-width: 480px) {
        margin-left: 0;
      }

      .name-address {
        width: 58%;
        padding-right: 1em;
        font-size: 0.9em;
        .name {
          margin-bottom: 0;
		  font-family: "whitney_lightregular";
		  font-size:1.75rem;
	      color:#0c273c;
        }
		h3 a {color:#0c273c;}

        .title {
		  font-family: "whitney_scmedium";
		  font-size:1.375rem;
	      color:#0c273c;
		  margin-top:1.5em;
        }
        .address {
          color:#0c273c;
          font-style: normal;
		  font-family: "whitney_bookregular";
		  font-size:1.125rem;
          margin-top: 0;

          .street, .location {
            display: block;
          }

          .street {
            margin-right: 1em;
          }
          .location {
            white-space: nowrap;
          }
        }
      }

      .contact {
        width: 34%;
        a {
          display: block;
          line-height: 2.5;
          white-space: nowrap;
          color: #E9851F;
          &:hover {
            text-decoration: underline;
          }
          /*&:before {
            margin-right: 0.5em;
            font-size: 2em;
            line-height: 1;
            vertical-align: middle;
            display: inline-block;

            background-repeat: no-repeat;
            background-color: transparent;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAYAAAALiLqjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaBJREFUeNrslu1tgzAQhp2KATxCR4AN3A3oBowAE0AngA2ACVAnYATYAJjAbODi1Einiwlg7B+tctKJQOB9fOY+IOS/m7946Eo8WlwoD12svAMAvji1JR4CUQ4grS3AAEThb+mxDYBAzhHwlHkH75uVf9qIoNVEYPyC3zTXvtF5pVZvzSiKoHFRZCWCUNsAirIncxFFhqJgmkU0aiG+KQS3C9iTGvBfZwp4R1u1ijWaKs9NIUxT3VuthNlo3bgIOTq/NB/4DuRyzeA5AYsxsj3tWhfCL/uDdlOplzvSTzzVFZkjAH0Y+nmeE983675935MkSfTNjFIq1mPXdeKsyWegBmx+d0CWZSKKIiMIFC/LUjDG9ABpZyFYXNpTAIQs70Jwzk+JHwIcgWyJHwY8g0Bx3XMQ4B1NvyAISJqmZJomUhQFmeffj71xHI/N3K0tkisNw/BhXMZxbL5FukySR3nPUohiGAbzl3w2TaXwGtVumpoWGoZoAVdbBYTAVnFTgNZGs6vrmlRVBS997H25XfV7HchE/nI0D8bXTN+1HwEGAPNuRLHrzARAAAAAAElFTkSuQmCC);
            content: '';
            width: 24px;
            height: 24px;
          }*/
          &.phone:before {
            background-position: center 0;
          }
          &.email {
            &:before {
              background-position: center -24px;
            }
          }

          @media only screen and (max-width: 480px) {
            line-height: 1.75;
            &:before {
              display: none;
            }
          }
        }
      }

      .name-address, .contact {
        display: inline-block;
        line-height: 1.1;
        vertical-align: top;
        @media only screen and (max-width: 767px) {
          display: block;
          width: 100%;
          margin-bottom: 1em;
          padding-right: 0;
        }
      }

      .websiteLink {
        margin-top: 1em;
        display: block;
		float:right;
        a {
          display: inline-block;
          border-radius: 5px;
          border: none;
          color: #0d263c;
          background-color: #0ed59a;
          padding: 0.875em 1.375em;
		  font-family: "whitney_scmedium";
		  font-size:1rem;
          &:hover {
            background-color: #E9851F;
            color: white;
          }
          @media only screen and (max-width: 480px) {
            display: block;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
	.columns-no-left-gutter {
		padding-left:0;	
	}
  }

  .team {
    border-top: $border;
    background-color: #eee;
    padding-top: 0.5em;
    .title {
      line-height: 1.2;
      font-size: 0.9em;
      color: #444;
      &:hover {
        text-decoration: underline;
      }
    }
    ul.team-list {
      list-style-type: none;
      padding: 0;
      margin: 0.75em 0 0 0;
      > li {
        margin: 0 0 1em 0.5em;
        &:last-child {
          margin-bottom: 0;
        }

        .name {
          text-transform: uppercase;
          margin-bottom: 0;
          a {
            color: #444;
            &:hover {
              color: #333;

            }
          }
        }
        .contact {
          font-size: 0.9em;
          display: block;
          > * {
            display: inline-block;
            white-space: nowrap;
            margin-right: 1em;
            &:last-child {
              margin-right: 0;
            }
          }
          a {
            color: #666;
            &:hover {
              text-decoration: underline;
            }

            &.email {
              text-overflow: ellipsis;
              width: 100%;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}