@import "../../scssNew/settings";
@import "serpAdvisor";
/* hello */
.search-container {
  input[data-toggle] {
	display: none;
  }

  .button {
	background-color: #ddd;
	color: black;
	margin: 0;
  }

  input[data-toggle]:checked + label,
  input[data-toggle]:checked + label:active {
	background-color: $blue;
	color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset,
		0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .button-group.toggle {
	font-size: 0;
	li {
	  font-size: 1rem;
	  margin: 0;
	}
  }

  .button-group.toggle,
  input.search-box {
	display: inline-block;
  }

  input.search-box {
	width: auto;
	font-size: 0.9em;
	padding: 6px 8px;
  }
}

#location-find-advisor-container {
	#results-container {
		position: relative;
		.loading {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			.loading-modal {
				display: block;
				position: absolute;
				top: 0;
				z-index: 2;
				background-color: white;
				width: 300px;
				left: 50%;
				box-shadow: 0 1px 1px #999;
				border: 1px solid #999;
				padding: 2em 0;
				margin: 3em 0 1em -150px;
				text-align: center;
				//display: none;
				.loading-spinner {
					display: block;
					height: 64px;
					width: 64px;
					margin: 1em auto 0 auto;
					background: transparent url(/external/app/serp/img/loading-spinner.gif) no-repeat center center;
				}
			}
		}
	}

	&.loading #results-container .loading {
		display: block;
	}

	.more-container {
		display: block;
		.more-button {
			background-color: #ddd;
			color: black;
			display: block;
			width: 100%;
			max-width: 300px;
			text-align: center;
			border-radius: 3px;
			line-height: 3;
			padding: 0;
			margin: 1em auto;
		}
	}
}